@import 'style/vars.css';
@import 'style/reset.css';
@import 'style/fonts.css';
@import 'style/hero.css';
@import 'style/infinite-line.css';
@import 'style/about.css';
@import 'style/milestones.css';

body {
  font-family: 'Golos Text', sans-serif;
  color: var(--color-text-80);
}

.container {
  margin: 0 auto;
  padding: 0 1.25rem;
}

h1 {
  font-family: 'Merriweather', sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}

h2 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral-00);
  text-align: center;
  padding: 0.97rem 0;
  transition: 0.3s;
  width: 100%;
  border-radius: 9999rem;
  line-height: 1;
}

.btn--primary {
  background-color: var(--color-neutral-90);

  &:hover {
    background-color: var(--color-primary-35);
    color: var(--color-text-80);
  }
}

.btn--secondary {
  background-color: var(--color-neutral-00);
  color: var(--color-text-80);

  &:hover {
    background-color: var(--color-neutral-90);
    color: var(--color-text-00);
  }
}
