.hero {
  position: relative;
  background-color: var(--color-neutral-40);
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  overflow: hidden;
  inset: 0;
  mix-blend-mode: color-burn;
  z-index: 100;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.hero__header {
  position: relative;
  z-index: 200;
  padding: 1.125rem 0;
}

.hero__logo {
  display: flex;
  justify-self: start;
  align-items: center;
}

.hero__logo-knights {
  display: flex;
  align-items: center;
  gap: 0.0395rem;
}

.hero__logo-knight {
  height: 1.6875rem;
}

.hero__logo-text {
  font-family: 'Golos Text Bold', sans-serif;
  font-size: 0.875rem;
  color: var(--color-text-60);
  text-transform: uppercase;
  margin-left: 0.34375rem;
  letter-spacing: 0.02205rem;
  line-height: 1.143;
}

.hero__content {
  position: relative;
  max-width: 37.5rem;
  z-index: 1000;
  padding: 1.375rem 0 3.4375rem;
}

.section-hero__title {
  max-width: 23rem;
}

.hero__title-text {
  display: flex;
  flex-direction: column;
}

.hero__title-text > *:first-child {
  align-self: start;
}

.hero__title-text > *:nth-child(2) {
  align-self: center;
}

.hero__title-text > *:last-child {
  align-self: end;
}
